<h1>NUESTRO EQUIPO DE EXPERTOS</h1>
<p class="description">Aquí puedes encontrar los diferentes maestros expertos en la carrera de Desarollo y gestión de web multiplataforma</p>
<div class="container-fluid">
    <a class="navbar-brand" href="private"></a>
</div>

<section class="card">
<div class="card_perfil">
    <div class="card_nombre">
        <img class="imgprofes" src="../../assets/img/profe mario1.jpg">
        <h2>Mario Villavicencio </h2>
        <hr>
        <div class="card_descripcion">
            <h3>Materias que imparte:</h3>
            <br>
           <li>Administración de Bases de datos</li>
           <li>Desarrollo Web Profesional</li>
           <br>
        </div>
        <hr>
        <br>
        <div class="card_btn">
            <a  class="enlace" href="https://www.facebook.com/mario.villavicenciorodriguez">Contacto</a>
        </div>
    </div>
</div>

<div class="card_perfil">
    <div class="card_nombre">
        <img class="imgprofes" src="../../assets/img/profe alberto2.jpg">
        <h2>Alberto Campos</h2>
        <hr>
        <div class="card_descripcion">
           <h3>Materias que imparte:</h3>
            <br>
           <li>Desarrollo Web Profesional</li>
           <li>Arquitectura de Software</li>
           <br>
        </div>
        <hr>
        <br>
        <div class="card_btn">
            <a  class="enlace" href="https://www.facebook.com/betofieldss">Contacto</a>
        </div>
    </div>
</div>
<div class="card_perfil">
    <div class="card_nombre">
        <img class="imgprofes" src="../../assets/img/profe issac3.jpg">
        <h2>Isaac Arriaga</h2>
        <hr>
        <div class="card_descripcion">
            <h3>Materias que imparte:</h3>
            <br>
           <li>Interconexión de Redes</li>
           <li>Tutoría</li>
           <br>
        </div>
        <hr>
        <br>
        <div class="card_btn">
            <a  class="enlace" href="https://www.facebook.com/">Contacto</a>
        </div>
    </div>
</div >
<div class="card_perfil">
    <div class="card_nombre">
        <img class="imgprofes" src="../../assets/img/profe afedo4.jpg">
        <h2>Alfredo Ortega</h2>
        <hr>
        <div class="card_descripcion">
            <h3>Materias que imparte:</h3>
            <br>
           <li>Desarrollo de Aplicaciones</li>
           <li>Aplicaciones Web Orientadas a Servicios</li>
        </div>
        <hr>
        <br>
        <div class="card_btn">
            <a  class="enlace" href="https://www.facebook.com/">Contacto</a>
        </div>
    </div>
</div>
</section>