<div class="login-page">
    <div class="login-spacer"></div>
    <div class="login-container">
      <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
        <div class="login-card-logo">
          <img src="../../assets/img/LogoPrincipal.png" alt="logo">
        </div>
      </div>
      <h2 class="card-heading">
        <pre>REGISTRATE</pre>
        <pre>FAMILIA LOBOS</pre>
      </h2>
      <form (submit)="singUp()" class="login-form">
        <div class="form-group">
          <input type="text" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}" name="user Name"
            class="form-control" placeholder="Nombre" required>
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="user.userLastName" [ngModelOptions]="{standalone: true}" name="user LastName"
            class="form-control" placeholder="Apellido" required>
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" name="email" class="form-control" placeholder="Email" required autofocus>
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required>
        </div>
          <div class="home">
            <button type="submit" class="btn btn-primary btn-block" >
              ENTRAR
            </button>
          </div>
          <a href="login" class="btn btn-primary btn-block"  >
            REGRESAR
          </a>
        </form>
    </div>
  </div>|