<div id="qx-node-391" class="qx-section ">
    <div id="qx-node-162" class="qx-row ">

    <div id="qx-node-183" class="qx-column  qx-col-lg-12 qx-col-md-12 qx-col-sm-12 qx-col-xs-12">
  <div id="qx-node-304" class="qx-element qx-element-academia-header  wow fadeIn" style="visibility: visible;">
  <h3 class="module-title">
          Conoce más sobre        <span> Nuestra Universidad</span>
  </h3>
</div>
</div>
</div>
</div>
<div id="qx-node-437" class="qx-column  qx-col-lg-12 qx-col-md-12 qx-col-sm-12 qx-col-xs-12">
    <div id="qx-node-38" class="qx-element qx-element-text  qx-text-left wow fadeIn" style="visibility: visible;">
    <h1>Universidad Tecnológica de Aguascalientes</h1>
    <h2> Una historia que se ha construido con pasión por la educación</h2>
<p>
  <pre>En el año de 1989, Gobierno Federal inició un importante programa de evaluación y mejoramiento en la educación
    superior, que incluía a todas las universidades públicas e instituciones estatales, y al que podían sumarse
    las instituciones privadas que lo desearan.

    El Plan Nacional de Desarrollo 89-94, señalaba la necesidad de ampliar las opciones de educación superior,
    estimulando a los profesionistas para que aplicaran los avances científicos y tecnológicos a los 
    requerimientos del sector productivo regional y nacional, por lo que se buscó una modalidad de educación superior
    que permitiera a sus egresados incorporarse al ámbito laboral en menor tiempo, manteniendo la calidad educativa.
    
    Así pues, la Secretaría de Educación Pública, analizó experiencias similares en los países con mayor 
    crecimiento económico, como: Technical College en EUA; Semangokko en Japón; Facchoschülen en Alemania;
    Institute Universitaire de Technologie en Francia y Polytechnic en Gran Bretaña.
    Como resultado de esos estudios, en el año 1991, nació el modelo educativo de las Universidades Tecnológicas,
    dentro del marco normativo y de política sectorial señalados tanto por el Plan Nacional de Desarrollo,
    como por el Programa de Modernización Educativa 1989-1994.
</pre>
<img  class="utagspalo" src="../../../assets/img/utagspalo.jpg" alt="árbol de la sabiduría">

</div>
</div>
<div id="qx-node-5735" class="qx-section ">

    <div class="qx-container">
    <div id="qx-node-8236" class="qx-row ">
  <div id="qx-node-6738" class="qx-element qx-element-academia-header  wow fadeIn" style="visibility: visible;">
  <h3 class="module-title">
          Hoy inicia el resto de tu vida        <span> ¡Permítenos ser parte de tu futuro!</span>      
  </h3>
</div>
<!-- qx-element-academia-header --><div id="qx-node-4739"  style="visibility: visible;">
  <p class="text">Forma parte de nuestra universidad, conviértete en parte de la gran familia #LobosUTAGS</p></div>

