<h1>CONOCE NUESTRAS CARRERAS DISPONIBLES</h1>
<p class="description">Aquí puedes encontrar las diferentes carreras que la UT están disponibles para ti</p>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/img/carreras1.jpg" width="500px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MERCADOTECNÍA</h5>
          <p class="card-text">El Técnico Superior Universitario en mercadotecnía, estudia y conoce a detalle el mercado, capaz de generar estrategias innovadoras para llegar a él mediante la oferta de productos y servicios de valor al desarrollar su conocimiento en el reconocimiento de marca etc.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/img/carreratics.jpg" width="500px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TECNOLOGÍAS DE LA INFORMACIÓN</h5>
          <p class="card-text">El Técnico Superior Universitario en TI, ven y sé parte de los profesionistas especializados que optimizan el uso de los recursos tecnológicos dentro de una organización, administrando y manteniendo los mejores sistemas de cómputo, comunicación y tecnología móvil.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cardauto">
        <img src="../../assets/img/carreramecatronica.jpg" width="500px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MECATRÓNICA AREA AUTOMOTRIZ</h5>
          <p class="card-text">El Técnico Superior Universitario en Mecánica área Automotriz cuenta con las competencias necesarias para su alto desempeño en contribución con la tecnología, una vinculación nacional e internacional, con valores, habilidades y aptitudes que les permite prever y resolver problemas tecnológicos basados ​​en el sector productivo.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="../../assets/img/carrerarecursosh.jpg" width="500px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">RECURSOS HUMANOS</h5>
            <p class="card-text">El Técnico Superior Universitario en Recursos humanos, crea la formación de profesionales para la gestión de personal de una empresa con el objetivo de planificar, organizar y optimizar los diferentes procesos y aspectos que componen una determinada entidad empresarial.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../assets/img/carreralogistica.jpg" width="500px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">LOGÍSTICA</h5>
            <p class="card-text">El Técnico Superior Universitario en Logística, es un profesional capaz de diseñar, evaluar e implementar estrategias encaminadas a la optimización de la cadena de suministros y la función logística. Es un profesionista capaz de vincular una empresa.</p>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/img/carreraparamedico.jpg" width="500px"x class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PARAMÉDICO</h5>
          <p class="card-text">El Técnico Superior Universitario en Paramédico cuenta con las competencias profesionales necesarias para su desempeño en el campo laboral, en el ámbito local, regional y nacional.</p>
        </div>
      </div>
    </div>
  </div>

 