

    <div class="carousel">
        <ul>
               <li> <img src="../../assets/img/utags2.jpg" height="600px" class="d-block" alt="..."></li> 
               <li><img src="../../assets/img/utags3.JPG" height="600px" class="d-block" alt="..."> </li> 
              <li>  <img src="../../assets/img/utags1.jpg" height="600px" class="d-block" alt="..."> </li>
              <li> <img src="../../assets/img/directores.jpg" height="600px" class="d-block" alt="..."></li> 
              </ul>
        <hr>
              <div class="imgut">
                <img src="../../assets/img/ADMISIONES-2023-ENERO.jpg">
                <div class="btnut">
                  <a type="button" href="http://admision.utags.edu.mx/" class="btn btn-primary btn-block" >
                    REGISTRO
                  </a>
                  <div class="btnut">
                    <a type="button" href="https://www.utags.edu.mx/images/Admision/convocatoria%20admi%202023.jpg" class="btn btn-primary btn-block" >
                      CONVOCATORIA
                    </a>
                  </div>
                </div>
              </div>
              </div>
        